<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
</head>
<body>
    <h1>Welcome to Blogly</h1>
    <h2>Recent Posts:</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                <p>{{ post.content }}</p>
                <p><small>By {{ post.user.full_name }} on {{ post.friendly_date }}</small></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
